.checkboxContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    gap: .6rem;

    label {
        font-size: 1.3rem;
        color: #888;
    }
}