.colors {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;

    .box {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            opacity: .7;
        }
        
        &.black { background-color: #000 }
        &.purple { background-color: #40366e }
        &.red { background-color: red }
        &.gold { background-color: #dbbb44 }
        &.white { background-color: #ddd }
    }
}