.slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60rem;

    .mainImage {
        width: 50rem;
    }
    
    .sliderImages {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .image {
            width: 10rem;
        }
    }
}