.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: relative;

    label {
        font-size: 1.2rem;
        color: #888;
    }

    input {
        background-color: #F4F7FA;
        padding: 1rem;
        border-radius: 5px;
        border: 1px solid #ddd;
        color: #333;
    }

    .instructions {
        position: absolute;
        top: 6rem;
        z-index: 9;
        background-color: #000;
        color: #fff;
        padding: 1rem;
        border-radius: 1rem;
        font-size: 1.2rem;
        width: 100%;
        line-height: 1.8;
        height: 18rem;

        .requiredTag {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            padding-top: 3rem;
            color: red;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .offscreen {
        display: none;
    }
}