.shoppingCart {
    margin: 8rem 0;

    .container {
        max-width: 130rem;
        margin: 0 auto;

        .section {
            display: flex;
            width: 100%;
            justify-content: center;
            gap: 6rem;
        }
    }
}