.footer {
    background-color: #000;
    color: #fff;

    .footerSection {
        display: flex;
        justify-content: space-between;
        padding: 10rem 10rem 10rem 0;

        .column {
            &:nth-child(1) {
                width: 45rem;

                p {
                    line-height: 1.7;
                    margin: 2rem 0 1rem 0;
                    font-size: 1.3rem;
                    color: #CFCFCF;
                }
            }

            ul {
                list-style: none;

                li {
                    margin: 2.5rem 0;
                    font-weight: 200;
                    color: #CFCFCF;
                    font-size: 1.3rem;
                }
            }
        }
    }
}