.button {
    padding: 1.3rem;
    background-color: #000;
    color: #fff;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 70%;
    transition: .2s;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.3rem;

    &:hover {
        opacity: .7;
    }
}