.addProduct {

    .container {
        max-width: 130rem;
        margin: 0 auto;
        
        .main {
            margin: 5rem 0;

            h2 {
                border-bottom: 1px solid #ddd;
                padding: 1rem 0;
            }

            .section {
                display: flex;
                gap: 2rem;
                width: 100%;
                margin: 2rem 0;
    
                .basicInfo {
                    width: 80%;
                    background-color: #fff;
                    padding: 3rem;
                    border-radius: 4px;
                }
    
                .addImage {
                    width: 40%;
                    background-color: #fff;
                    padding: 3rem;
                    border-radius: 4px;
                }
            }
        }
    }
}