.formContainer {
    display: flex;
    flex-direction: column;
    width: 40rem;
    margin: 5rem 0;
    gap: 2rem;
}

.formFooter {
    position: fixed;
    width: 100%;
    padding: 3rem 0 3rem 5rem;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    border-top: 1px solid #8AADE1;
    z-index: 3;

    button {
        background-color: #6F83B6;
        border-radius: 5px;
        color: #fff;
        border: 0;
        padding: 1.2rem;
        width: 15rem;
        cursor: pointer;
        transition: .2s;
        
        &:hover {
            opacity: .8;
        }
    }

    p {
        color: #777;
        font-size: 1.5rem;

        a {
            color: #6F83B6;
        }
    }
}