.categorySection {
    background-color: #FAFAFA;
    
    .category {
        padding: 5rem 0;
        
        .head {
            margin: 3rem 0;
        }

        .categories {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 3rem;

            .card {
                background-color: #EDEDED;
                height: 15rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                border-radius: 7px;
                text-decoration: none;
                color: #000;

                svg {
                    font-size: 3rem;
                }

                span {
                    font-size: 1.3rem;
                    font-weight: 600;
                }
            }
        }
    }
}